<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="name.neilbartlett.extsvcs.examples.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="name.neilbartlett.extsvcs.examples.client.Perspective"
            id="name.neilbartlett.extsvcs.examples.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="name.neilbartlett.extsvcs.core.InjectionFactory:logView"
            id="name.neilbartlett.extsvcs.examples.client.sampleView"
            name="Sample"
            restorable="true">
      </view>
   </extension>
   <extension
         point="name.neilbartlett.extsvcs.core.injectedFactories">
      <factory
            class="name.neilbartlett.extsvcs.examples.client.view.SampleView"
            id="logView">
         <reference
               cardinality="single"
               interface="org.osgi.service.log.LogService"
               setter="setLogService">
         </reference>
      </factory>
   </extension>

</plugin>
