<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2009 Neil Bartlett.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Neil Bartlett - initial API and implementation
-->
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.wwuk.eclipse.extsvcs.examples.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="eu.wwuk.eclipse.extsvcs.examples.client.Perspective"
            id="eu.wwuk.eclipse.extsvcs.examples.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.wwuk.eclipse.extsvcs.core.InjectionFactory:logReaderView"
            id="eu.wwuk.eclipse.extsvcs.examples.views.log"
            name="Log Reader">
      </view>
      <view
            class="eu.wwuk.eclipse.extsvcs.core.InjectionFactory:eventSendingView"
            id="eu.wwuk.eclipse.extsvcs.examples.views.eventSending"
            name="Event Sending">
      </view>
      <view
            class="eu.wwuk.eclipse.extsvcs.core.InjectionFactory:eventReceivingView"
            id="eu.wwuk.eclipse.extsvcs.examples.views.eventReceiving"
            name="Event Receiving"
            restorable="true">
      </view>
   </extension>
   <extension
         point="eu.wwuk.eclipse.extsvcs.core.injectedFactories">
      <factory
            class="eu.wwuk.eclipse.extsvcs.examples.client.view.LogReaderView"
            id="logReaderView">
         <reference
               cardinality="single"
               interface="org.osgi.service.log.LogReaderService">
         </reference>
      </factory>
      <factory
            class="eu.wwuk.eclipse.extsvcs.examples.client.prefs.LogPreferencePage"
            id="loggingPrefPage">
         <reference
               cardinality="single"
               interface="org.osgi.service.log.LogService">
         </reference>
      </factory>
      <factory
            class="eu.wwuk.eclipse.extsvcs.examples.client.view.EventSendingView"
            id="eventSendingView">
         <reference
               cardinality="single"
               interface="org.osgi.service.event.EventAdmin"
               name="EventAdmin">
         </reference>
      </factory>
      <factory
            class="eu.wwuk.eclipse.extsvcs.examples.client.view.EventReceivingView"
            id="eventReceivingView">
         <service>
            <provide
                  interface="org.osgi.service.event.EventHandler">
            </provide>
         </service>
         <property
               name="event.topics"
               value="*">
         </property>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.wwuk.eclipse.extsvcs.core.InjectionFactory:loggingPrefPage"
            id="eu.wwuk.eclipse.extsvcs.examples.client.loggingPrefPage"
            name="Logging">
      </page>
   </extension>

</plugin>
